.status-approving {
  background-color: #6667ab;
  color: #fff;
}

.status-rejected {
  background-color: #939597;
  color: #fff;
}

.status-executing {
  background-color: #9e7b6b;
  color: #fff;
}

.status-inner-check {
  background-color: #ad5f99;
  color: #fff;
}

.status-inner-rejected {
  background-color: #939597;
  color: #fff;
}

.status-to-receive {
  background-color: #0f4c81;
  color: #fff;
}

.status-to-feedback {
  background-color: #efc05a;
  color: #fff;
}

.status-complete {
  background-color: #87b04b;
  color: #fff;
}

